/* Import Tailwind */
@import "tailwindcss";
@plugin "tailwindcss-motion";

@theme {
  --breakpoint-xs: 30rem;
  --breakpoint-2xl: 100rem;
  --breakpoint-3xl: 120rem;
}
/* Custom Fonts */
@font-face {
  font-family: 'title';
  src: url("../src/assets/fonts/ethnocentric rg.otf");
}

@font-face {
  font-family: "square";
  src: url("../src/assets/fonts/Dot Font.otf") format("opentype");
}

/* Root Styles */
:root {
  padding: 0;
  margin: 0;
  font-family: system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  user-select: none;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #141C23;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

