/* Import Tailwind */
@import "tailwindcss";
@plugin "tailwindcss-motion";
@plugin "tailwindcss-intersect";
@plugin "@tailwindcss/postcss";

@theme {
  --breakpoint-xs: 30rem;
  --breakpoint-2xl: 100rem;
  --breakpoint-3xl: 120rem;

  --color-background: #030712;
  --color-background-light: #01050e;

  --color-secondary: #A8E524;
  --color-primary-light: #16e4b1;
  --color-primary: #00c896;

  --color-primary-text: #ffff;
  --color-primary-text-light: #cbcbcb;
  --color-secondary-text: #bbbbbb;
  --color-secondary-light-text: #a1a1aa;

  /* primary:#8874EF,#25AB75 */
  /* --color-background: #030712; */
  /* --color-primary: #d8a31a; */
  /* --color-primary-light: #f3b20c; */
  --color-primary-foreground: #030712;
  /* --color-secondary:  #007d55; */
  /* --color-secondary-light: #079a6b; */
  /* --color-secondary-foreground: #030712; */

  --color-accent: #988478;
  --color-text: #e2f0ff;
  --color-text-light: #8d98a0;


  --shadow-2xs: 0 1px rgb(0 0 0 / 0.05);
  --shadow-xs: 0 0px 26px rgb(0, 200, 150, 0.1);
  --shadow-sm: 0px 0px 50px 0 rgba(0, 200, 150, 0.1);
  /* --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --shadow-xl: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  --shadow-2xl: 0 25px 50px -12px rgba(0, 200, 150, 0.25); */


}

/* colors: {
  'text': '#e2f0ff',
  'background': '#030712',
  'primary': '#d8a31a',
  'secondary': '#00c6bd',
  'accent': '#988478',
 } */

@theme inline {
  --font-display: "Inter", "sans-serif";
  --color-primary-500: oklch(0.84 0.18 117.33);
  --spacing: 0.25rem;
}

@theme inline {
  --animate-spotlight: spotlight 2s ease 0.75s 1 forwards;
  --animate-spin: spin 2s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes spotlight {
  0% {
    opacity: 0;
    transform: translate(-72%, -62%) scale(0.5);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -40%) scale(1);
  }
}

/* Custom Fonts */
@font-face {
  font-family: "title";
  src: url("../src/assets/fonts/ethnocentric rg.otf");
}

@font-face {
  font-family: "square";
  src: url("../src/assets/fonts/Dot Font.otf") format("opentype");
}

/* Root Styles */
:root {
  padding: 0;
  margin: 0;
  font-family: system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  /* user-select: none; */

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #141c23;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #525252;
  margin-top: 40vh;
  margin-right: 35vw;
  margin-bottom: 40vh;
  margin-left: 35vw;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-primary-light);
}

.break-word {
  word-wrap: break-word;
  hyphens: auto;
}

/* Font Utilities */
.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.jetbrains-mono {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

.outfit {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.source-sans-3 {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Shine Effect */
.shine::before {
  content: "";
  background-image: linear-gradient(
    120deg,
    #fff0 30%,
    rgba(255, 255, 255, 0.315),
    #fff0 70%
  );
  width: 50px;
  height: 100%;
  animation: shine 2s linear infinite;
  position: absolute;
  top: 0;
  left: -60px;
  z-index: 1;
}

@keyframes shine {
  0% {
    left: -60px;
  }
  100% {
    left: 100%;
  }
}
